body {
	padding-top:5vh;
	background:teal;
}

.instaimg img {margin-bottom:30px;}
.instaimg img:hover {
	opacity:0.8;
	-moz-opacity:0.4;
	-webkit-opacity:0.8;
}

h1{
  font-size: 2em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:15vh;
  #font-family: 'Spirax', cursive;
	padding-bottom:40px;
}

 a {
	
  text-align:center;
  font-weight: 400;
  color:white;
	 margin:auto;
	 display:block;
}

 a:hover {
	
  text-align:center;
  font-weight: 400;
  color:tea;
	 margin:auto;
	 display:block;
}